<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="For making payment certificate in CSCECME">
    <meta name="author" content="Cai ZhenZhi">
    <title>CSCECME Payment Certificate</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.1/examples/checkout/form-validation.css" rel="stylesheet">

</head>
<body class="bg-light">

<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/China_State_Construction_Engineering_Corporation_logo.svg/1024px-China_State_Construction_Engineering_Corporation_logo.svg.png"
                 alt="" width="72" height="57">
            <h2>Payment Certificates Form</h2>
            <p class="lead">For making payment certificates fast, I made this program. Using this you will get the
                filled Excel files.</p>
        </div>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2023–2024 China State Construction Engineering Corporation Middle East</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script>
    $(function () {
        function getCookie(name) {
            const r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
            return r ? r[1] : undefined;
        }

        const csrf = getCookie("_xsrf");
        $.post("/loading", {
            "_xsrf": csrf
        }, function (data) {
            if (data.loading_flag === 0) {
                window.location.href = "/output"
            }
            else {
                window.location.href = "/loading"
            }
        });
    })
</script>

</body>
</html>
